html{
    background-color: #11111b;
    color: #cdd6f4;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: #11111b;
    max-width: 1000px;
    margin: 10px auto auto auto;
}
header{
    border-radius: 7px;
    width: 100%;
    background-color: #45475a;
}
header ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content:left;
}
header li{
    width: 50%;
    text-align: center;
    background-color: rgb(39, 112, 161);
    padding: 0px;
    display: block;
    border-radius: 5px;
    list-style-type: none;

}
header a{
    background-color: #45475a;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    display: block;
    padding: 10px;
    margin: 0;
}
header a:hover{
    background-color: aquamarine;
}

.profile{
    margin: 10px;
    display: flex;
    max-width: 300px;
    background-color: #45475a;
    color: #cdd6f4;
}
.pfp{
    height: 100px;
}
.info{
    padding: 10px;
}
