<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/profile.css">
    <title>Feed</title>
</head>
<body>
    
    <nav>
        <ul>
            <li><a href="/dashboard">Home</a></li>
            <li><a href="/feed">Feed</a></li> 
            <li id="selected"><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <main>
        <section class="content">
            <h1>{{ message }}</h1>
            <img src={{image}}>
            <p>{{err_msg}}</p>
            
                
            <div id="uploadDiv">
                <h2>Make a Post</h2>
                <form id="uploadForm" action="/makepost" method="post" enctype="multipart/form-data">
                    <label for="blog_title">Title:</label>
                    <input required id="siteInput" type="text" name="blog_title" placeholder="Awesome blog title!" > 
                    <br><br>
                    <label for="blog_content">Content:</label>
                    <textarea required id="blog_content" type="text" name="blog_content" placeholder="type whats going on" cols=65 rows=8> </textarea>
                    <br>
                    <br>
                    <p style="color: red;">{{ blog_status }}</p>
                    <button type="submit">Post!</button>
                </form>
            </div>   
            
                
                <h2>Change Settings</h2>
                <form id="uploadForm" action="/settings" method="post" enctype="multipart/form-data">
                    <br>
                    <label for="site_url">Site URL:</label>
                    <input id="siteInput" type="text" name="site_url" placeholder="{{site_url}}" >
                    <br><br>
                    <label for="file">Change Profile Picture:</label>
                    <input name="pfp" id="file" type="file" accept="image/*">
                    <br>
                    <br>
                    <button type="submit">Save!</button>
                </form>
              
            

        </section>

        <section class="usercontainer">
            <h3 style="text-align:center;">Manage Posts</h3>
            {% for post in posts %}
                
            <div class="user-post">
                
                <div class="post">
                    <h3>{{post.title}}</h3>
                    <p><a href="/delete/{{post.id}}">[delete]</a></p>
                </div>
            </div>
                
            {% endfor %}
        </section> 
    </main>


    
    
</body>
</html>